.project-body {
    background-color: gainsboro;
}
.cards {
    width: 20rem;
    box-shadow: -3px 1px 58px -2px rgba(0,0,0,0.75);
}
.project-padding {
    padding: 0px 75px;
    padding-bottom: 45px;
}
.project-title {
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
    padding: 90px 0px;
    font-size: 45px;
}

@media (max-width: 350px) {
    .cards {
        width: 18rem;
    }
    .project-padding {
        padding: 5px;
    }
}